nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: white;
    background-color: grey;
  }
  
  nav ul li:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: grey;
    padding: 20px;
    color: white;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    color: white;
    text-decoration: none;
  }

  .brandBox {
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .brandBox:hover {
    transform: translateY(-20px);
  }

  
  