.hero{
  background-image: url('../Images/hero.png');
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 640px) {

.hero{
  background-image: url('../Images/ZENOOMOB.png');
  background-size: cover;
  background-position: right;
}
}  





