.MainBox{
  text-align: center;
    background-image: url(https://static.scientificamerican.com/sciam/cache/file/6B2730C8-B0D0-485F-A0618F3954CF58D8_source.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
  overflow-y: scroll;
}


/* background: rgb(188,156,209);
background: linear-gradient(0deg, rgba(188,156,209,1) 1%, rgba(110,104,115,1) 12%, rgba(74,74,74,1) 30%, rgba(0,0,0,1) 100%); */